html
  head
  body
    meta(charset='utf-8')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Raleway:700,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/prettify.css')
    style.
      header , .pull-right a , .docs-nav a:hover, .docs-nav .active, span.sub_heading {background:#2196f3;}
      a,nav a:active,a:active{color#2196f3;}
    .wrapper
      header
        .container
          h2.lone-header Storm Blogger Template | Documentation (Free Version)
      section
        .container
          ul.docs-nav
            li
              strong Getting Started
            li
              a(href='#welcome') Template Info
            li
              a(href='#features') Features
            li
              a(href='#installation') Installation
            li.separator
            li
              strong Customization
            li
              a(href='#Top') Top Area
            li
              a(href='#header') Header
            li
              a(href='#label-post') About
            li
              a(href='#footer') Sections
            li
              a(href='#settings') Settings
          .docs-content
            h2.entry-title  Getting Started
            h3#welcome  Template Info
            img(src='images/Storm.png', style='border: 1px solid #ddd;text-align: center;margin: 0 auto;box-shadow: 0px 5px 8px #ddd;')
            p
              | Thank You For Downloading My Template. Please Read The Documentation Carefully, If You Still Have Any Problem Please Feel Free To Email Via My
              a(href='#', target='_blank') Contact Page
              | .
            p.note Note : Premium And Lifetime Support Only Provided To Full Version Buyers
            p
              b
                | It Is Restricted To Remove Our Credit Link Due To The Erasure Of The Credit Links Will Make Your Site To Redirect themeswear.com For Those Who Want To Remove Can Purchase The Template.
            h3 What You Get?
            ul
              li Removed Footer Credits
              li No Encrypted Codes
              li Unlimited Support
              li Full Access
              li Lifetime Template Updates
              li For Unlimited Domains
              li And Much More...
            p
              a.purchase_now(href='http://www.themeswear.com', target='_blank') Purchase Now!!!
            h3#features Features
            ul
              li Responsive
              li SEO Friendly
              li Label Post Widget
              li Clean Look
              li Homepage Share Button
              li Responsive Menu
              li Related Posts with Thumb
              li Clean Looking Buttons
              li Social Share Button
              li Load More Page Navigation
              li Custom Recent Comment Widget
              li Multi Author Box
              li Clean Comment Style
              li And more..
            h3#installation Installation
            p  You Can Install The Template In Two Ways:
            ol
              li
                b Uploading
                | : Go to your dashboard > Template > Backup / Restore > Upload the .xml.
              li
                b Direct Uploading
                | : By Copy And Paste.Just Copy Your Blogger Template By Opening It In Notepad Select The Whole Code And Paste It Into 
                a(href='https://www.blogger.com/', target='_blank') Template Editor
                | .
            p.note(style='background:#34495e;') 1. Uploading Method
            ul
              li
                img(src='images/1.png')
              li
                img(src='images/2.png')
            h2.entry-title Customize Template
            h3#Top Top Area
            span.sub_heading Header Background
            p
              | Go to Blogger.com -> Your Blog -> Template -> Edit HTML And Find ( CTRL + F ) This:-
            pre.prettyprint.prettyprinted.
              \nhttps://2.bp.blogspot.com/-cB43heSn8MM/WE1me6Wu5zI/AAAAAAAAA9A/Rjv5pvzuG2AYzawnUpIS_pt7tLgWGClugCLcB/s1600/9o1oq9szqzq-ben-white.jpg              
            p
            p Now Change It With Yours
            span.sub_heading Person Name
            p
              | Go to Blogger.com -> Your Blog -> Template -> Edit HTML And Find ( CTRL + F ) This:- <!-- Header Name -->
            p Now Change It With Yours
            span.sub_heading Headlines 
            p
              | Go to Blogger.com -> Your Blog -> Template -> Edit HTML And Find ( CTRL + F ) This:- <!-- Headline -->
            p Now Change It With Yours
            span.sub_heading Social Links 
            p
              | Go to Blogger.com -> Your Blog -> Template -> Edit HTML And Find ( CTRL + F ) This:- <!-- Top Links -->
            p Now Change # With Your URL
            hr
            h3#header Header Area
            img(src='ss/1.png')
            span.sub_heading Logo Setting:
            p Go to your Blogger Account - Your Blog & select Layout
            p Now In Header Widget Click On Edit
            p
              | Upload Your Logo And Select 
              b "Instead of title and description"
              |  as the "Placement" option & Select Shrink To Fit.
            img(src='images/settings.png')
            span.sub_heading Navigation
            ol
              li
                | Go to Blogger.com -> Your Blog -> Template -> Edit HTML And Find ( CTRL + F ) This:- <!-- Top Nav -->
              li
                | Now Change The Text(If Needed Note: If You Change The #URL The Menu Will Stop Sliding To The Sections)
            hr
            h3#label-post About
            p
              | Go to Blogger.com -> Your Blog -> Template -> Edit HTML And One By One Find ( CTRL + F ) All This:-
            ol
              li <!-- Avatar --> (Add Your Image URL)
              li <!-- About Social Links --> (Add Your Social Links Replace With #)
              li <!-- About Info --> (Add Your Own Prework e.g Hello, Hi)
              li <!-- About Name --> (Add Your Name)
              li <!-- About Skills --> (Add Your Position)
              li <!-- About Bio --> (Add Your Bio)
              li <!-- About Links --> (Add Your Other Links)
            hr
            h3#footer Sections
            p
              | Go to Blogger.com -> Your Blog -> Theme -> Edit HTML And One By One Find ( CTRL + F ) All This:-
            b
              | Editing Part Is Very Simple Just Follow The Step One By One After Finding The Codes You Will See The Instructions In The Template Also... If You Have Any Problem Just Feel Free To Contact Us.
            ol
              li <!-- SERVICE -->
              a(href='#icons') How To Change Icons
              ul
                li <!-- Service Icon -->
                li <!-- Service Heading -->
                li <!-- Service Description -->
              li <!-- COUNTER -->
              ul
                li Number Ex- In The Template
                li Heading
              li <!-- Quote Section -->
              ul
                li Description
                li Heading
                li Link
              li <!-- CONTACT --> (Note:- The Contact Form Work Automatically)
              ul
                li Heading
                li Contact Details
            hr
            h3#icons(style='\
            background: none;\
            color: #000;\
            ') How To Change Icons In The Template
            .sub-bar
              | If You Wnat To Change Icon In The Template. Just Follow Given Below Instruction:-
            p
              | 1. Go To 
              a.purchase_now(href='https://linearicons.com/free', target='_blank') Linear Icons
            img(src='ss/2.png', style='width:;')
            p 2. Now choose Your Icon & Open It.
            img(src='ss/3.png', style='width:;')
            p
              | 3. Now Copy The 
              highlighter Underline Text
            .sub-bar We Are Going To Change " Map " With The " Heart " Icon.
            img(src='ss/4.png', style='width:inherit;')
            p 4. Just Replace The Map With The Heart And Its Done...
            hr
            h3#settings Settings
            span.sub_heading Mobile Version
            p To Use Responsive Design In Mobile Devices Than First You Need To Enable It.
            p
              b Note:
              | The Responsive Menu Link Sub Menu Will Not Work(Open) In The Desktop If You Resize Your Window It Is Only Work On Mobile Devices.
            ol
              li
                | Go to Blogger.com -> Your Blog -> Template -> Now In Mobile Section Click On Gear Button As Shown In Given Below Image
            img(src='images/3.png')
            img(src='images/4.png')
            p
              | 2. Click On "No. Show desktop template on mobile devices." And Than Click On Save.
            span.sub_heading Change The Post Date Format:
            p
              | Go to Blogger Dashboard -> Settings -> Language and Formatting -> Formatting -> Timestamp Format -> Set It To Date Instead Of Time.
              br
              | Now Click On Save...
            img(src='images/5.png')
      section.vibrant.centered
        div
          h4
            | We Will Setup Template For You In The Proper And Clean Way 
            a.b_i(href='http://www.themeswear.com/', target='_blank') Buy Theme + Installation Service
      footer
        div
          p  © Copyright themeswear.Com | All Rights Reserved.
    script(src='javascripts/jquery.min.js')
    script(type='text/javascript', src='public/javascripts/prettify/prettify.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst')
    script(src='javascripts/layout.js')
    script(src='javascripts/jquery.localscroll-1.2.7.js', type='text/javascript')
    script(src='javascripts/jquery.scrollTo-1.4.3.1.js', type='text/javascript')
    footer
    block footer
      