@layout('layout')
@section('title')
  {{title}}
@endsection

@section('content')
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6 text-center">
        <br><br><br>
        <div class="jumbotron">
            <h3>AdonisJs Denemelerime Hoşgeldiniz...</h3>
        </div>
    </div>
    <div class="col-md-3">
       
    </div>
</div>
@endsection